/*! [PROJECT_NAME] | Suitmedia */

//  1. Font-face
//  2. Basic styles
//  3. Header
//  4. Page styles
//  5. Footer

@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/helpers";
@import "partial/print";

@import "mixin/mixin";
@import "modules/modules";
@import "plugin/plugin";

// 1 Font-face
// ------------------------------------------------------------------------ //



// 2 Basic styles
// ------------------------------------------------------------------------ //

html {
    font: 400 $base_font_size $base_font_family;
    line-height: $base_line_height;
}

body {
    color: $black90;
}

a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link_hover;
    }
}

.block {
    margin-bottom: $space;
}

.container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

// 3 Header
// ------------------------------------------------------------------------ //


// 4 Page styles
// ------------------------------------------------------------------------ //
.modal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(74,74,74,.4);
}

.modal-container {
    position: absolute;
    width: 95%;
    max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-header {
    display: inline-block;
    width: 100%;
    height: 30%;
    margin: 0 auto;
    padding-top:10px;
    text-align: center;
    background: #CED8DB;
}

.modal-close-btn {
    float: right;
    background: #CED8DB;
    top: 0;
    right: 0;
}

.modal-content {
    text-align: left;
    height: 70%;
    background: #fff;
    padding: $space 5px;
}

.article-content {
    margin: 0 auto;
    padding: 20px;
    background: #fff;
}

.content-hidden {
    display: none;
}

.disable-scroll {
    height: 100%;
    overflow: hidden;
}

// 5 Footer
// ------------------------------------------------------------------------ //